body{
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
}
.lluna{
  width: 200px;
  height: 200px;
  background-color: ;
  border-radius: 100px;
  box-shadow: inset 50px 0px 0 ivory;
}
.nuvol{
  width: 220px;
  height: 130px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 150px;
}
.nuvol::after{
  content: "";
  background-color: white;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: 100px;
  top: 25px;
}

.nuvol::before{
  content: "";
  background-color: white;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: -30px;
  top: 75px;
}

.nuvol1{
  width: 250px;
  height: 130px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 1200px;
  top: -190px;
}
.nuvol1::after{
  content: "";
  background-color: white;
  padding: 60px 70px;
  border-radius: 100%;
  position: relative;
  left: 100px;
  top: 25px;
}

.nuvol1::before{
  content: "";
  background-color: white;
  padding: 40px 60px;
  border-radius: 100%;
  position: relative;
  left: -30px;
  top: 75px;
}

.flor{
  position: relative;
  left: 150px;
  animation-name: flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

}
@keyframes flor{
  from{
    transform: rotate(0deg);
    transform-origin: 0;
  }
  to{
  transform: rotate(360deg);
  transform-origin: 150px 0;
  }
}

.petal{
  width: 100px;
  height: 100px;
  background-color: #FF3;
  border-radius: 100px 0 100px 0;
}

.centre{
  width: 50px;
  height: 50px;
  background-color: #F33;
  border-radius: 25px;
  position: relative;
  top: -525px;
  left: -25px;
}

.p2{
  transform: translateY(-100px) rotate(60deg);
  transform-origin: 0 100px;

}

.p3{
  transform: translateY(-200px) rotate(120deg);
  transform-origin: 0 100px;
}

.p4{
  transform: translateY(-300px) rotate(180deg);
  transform-origin: 0 100px;
}

.p5{
  transform: translateY(-400px) rotate(240deg);
  transform-origin: 0 100px;
}

.p6{
  transform: translateY(-500px) rotate(300deg);
  transform-origin: 0 100px;
}

.muntanya{
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 400px solid sandybrown;
}
